@model WebApplication6.Models.ViaCEp

@{
    ViewBag.Title = "RetornaCep";
}

<h2>RetornaCep</h2>


<h2>Dados do CEP PROCURADO:</h2>
@Model.bairro
@Model.cep
@Model.localidade
@Model.logradouro
@Model.uf   
@Model.ibge
@Model.unidade